<%- include("../includes/header.ejs") %>
  </head>
  <body>
    <h1 style="font-size: 150px">404</h1>
    <h3 style="font-size: 50px">PAGE NOT FOUND!!!</h3>

    <%- include("../includes/footer.ejs") %>
 
