<%- include("../includes/header.ejs") %>
  </head>
  <body>
    <section id="Allpage">
      <!-- ===== Navbar ===== -->
      <%- include("../includes/nav.ejs") %>
      <!-- ===== End of Navbar ===== -->

      <!-- ===== firstpage ===== -->
      <div id="firstpage" class="container-fluid d-flex flex-column justify-content-around text-center">
        <div></div>
        <div>
          <h1>PLAY TRADITIONAL GAME</h1>
          <h3>Experience new traditional game</h3>
          <a class="tombol btn btn-warning" style="text-decoration: none; color: black" href="/api/v1/admin/login">TRIAL</a>
        </div>
        <div>
          <a class="btn btn-transparent" href="#secondpage">
            The Story<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
              <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
            </svg>
          </a>
        </div>
      </div>
      <!-- ===== End of Firstpage ===== -->

      <!-- ===== Secondpage ===== -->
      <div id="secondpage" class="container-fluid d-flex flex-column justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col"><h3>What's so special?</h3></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <h1>THE GAMES</h1>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide col-lg-9" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active slider" aria-current="true" aria-label="Slide 1"></button>
                <button class="slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button class="slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button class="slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button class="slider" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active text-center">
                  <img src="/asset1/rockpaperstrategy-1600.jpg" class="w-75" alt="rockpaperstrategy" />
                </div>
                <div class="carousel-item text-center">
                  <img src="/asset1/rockpaperstrategy-1600.jpg" class="w-75" alt="rockpaperstrategy" />
                </div>
                <div class="carousel-item text-center">
                  <img src="/asset1/rockpaperstrategy-1600.jpg" class="w-75" alt="rockpaperstrategy" />
                </div>
                <div class="carousel-item text-center">
                  <img src="/asset1/rockpaperstrategy-1600.jpg" class="w-75" alt="rockpaperstrategy" />
                </div>
                <div class="carousel-item text-center">
                  <img src="/asset1/rockpaperstrategy-1600.jpg" class="w-75" alt="rockpaperstrategy" />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
                  </svg>
                </span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                  </svg>
                </span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Secondpage ===== -->

      <!-- ===== Thirdpage ===== -->
      <div id="thirdpage" class="container-fluid d-flex flex-column justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-4">
              <h3>What's so special?</h3>
              <h1 class="pb-5">FEATURES</h1>
              <div class="row">
                <div class="col-1 mx-auto" style="color: white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8" />
                  </svg>
                  <div class="line ms-2"></div>
                </div>
                <div class="col">
                  <h5>TRADITIONAL GAME</h5>
                  <p>If you miss your childhood, we provided many traditional games here</p>
                </div>
              </div>
              <div class="row">
                <div class="col-1" style="color: white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  </svg>
                </div>
                <div class="col">
                  <h5>GAME SUIT</h5>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-1" style="color: white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  </svg>
                </div>
                <div class="col">
                  <h5>TBD</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Thirdpage ===== -->

      <!-- ===== Fourthpage ===== -->
      <div id="fourthpage" class="container-fluid d-flex flex-column justify-content-evenly">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg"><p>Can My Computer Run this game?</p></div>
          </div>
          <div class="row">
            <div class="col-lg-4"><h1>SYSTEM REQUIREMENTS</h1></div>
          </div>
          <div class="row mb-5">
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col-lg-5">
              <div class="borderimg p-0">
                <table>
                  <tbody>
                    <tr>
                      <td class="garis">
                        <h5>OS:</h5>
                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                      </td>
                      <td class="garis tengah">
                        <h5>PROCESSOR:</h5>
                        <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="garis">
                        <h5>mEMORY:</h5>
                        <p>4 GB RAM</p>
                      </td>
                      <td class="garis tengah">
                        <h5>storage:</h5>
                        <p>8 GB available space</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <h5>GRAPHICS:</h5>
                        <p>NVIDIA GeoForce GTX 660 2 GB or <br />AMD Radeon HD 7850 2 GB DirectX 11 (Shader Model 5)</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Fourthpage ===== -->

      <!-- ===== Fifthpage ===== -->
      <div id="fifthpage" class="container-fluid d-flex flex-column justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 d-flex flex-column justify-content-center">
              <div>
                <h1>TOP SCORE</h1>
                <p>
                  This top score various games provided <br />
                  on this platform
                </p>
                <button type="button" class="tombol btn btn-warning">see more</button>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card bg-dark ms-auto mb-4">
                <div class="d-flex">
                  <img src="/asset1/a.jpg" class="gambar" alt="main-bg" />
                  <div>
                    <h6 class="mt-3 mb-0">Evan Lahti</h6>
                    <p class="profesi">PC Gamer</p>
                  </div>
                  <div class="ms-auto p-2">
                    <img src="/asset1/twiiter 2.png" alt="twitter2" />
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">"One of my gaming highlights of the year"</p>
                  <p class="date">October 18, 2018</p>
                </div>
              </div>
              <div class="card bg-dark mb-4">
                <div class="d-flex">
                  <img src="/asset1/b.jpg" class="gambar" alt="main-bg" />
                  <div>
                    <h6 class="mt-3 mb-0">Jada Griffin</h6>
                    <p class="profesi">Nerdreactor</p>
                  </div>
                  <div class="ms-auto p-2">
                    <img src="/asset1/twiiter 2.png" alt="twitter2" />
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">"The next big thing in the world of streaming and survival games"</p>
                  <p class="date">December 21, 2018</p>
                </div>
              </div>
              <div class="card bg-dark mx-auto">
                <div class="d-flex">
                  <img src="/asset1/c.jpg" class="gambar" alt="main-bg" />
                  <div>
                    <h6 class="mt-3 mb-0">Aaron Williams</h6>
                    <p class="profesi">Uproxx</p>
                  </div>
                  <div class="ms-auto p-2">
                    <img src="/asset1/twiiter 2.png" alt="twitter2" />
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                  <p class="date">December 24, 2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Fifthpage ===== -->

      <!-- ===== Sixthpage ===== -->
      <div id="sixthpage" class="container-fluid d-flex flex-column justify-content-center">
        <div class="container">
          <div class="row">
            <div class="offset-1 col-lg-4 text-center skull">
              <img src="/asset1/sixthpage.png" alt="sixthpage" />
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center">
              <h3>Want to stay in touch?</h3>
              <h1>NEWSLETTER SUBSCRIBE</h1>
              <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
              <div class="d-flex align-items-center mt-5">
                <form class="form-floating w-50 pe-2">
                  <input type="email" class="form-control bg-dark" id="floatingInputValue" placeholder="name@example.com" value="youremail@binar.co,id" />
                  <label for="floatingInputValue">Your email adress</label>
                </form>
                <button type="button" class="tombol btn btn-warning" href="">Subscibe Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ===== End of Sixthpage ===== -->

      <!-- ===== Footer ===== -->
      <div id="footer" class="container-fluid">
        <div class="container d-flex justify-content-end">
          <ul>
            <li><a class="nav-link word" href="#firstpage">HOME</a></li>
            <li><a class="nav-link word" href="#secondpage">ABOUT</a></li>
            <li><a class="nav-link word" href="#thirdpage">GAME FEATURES</a></li>
            <li><a class="nav-link word" href="#fourthpage">SYSTEM REQUIREMENTS</a></li>
            <li><a class="nav-link word" href="#fifthpage">QUOTES</a></li>
            <li>
              <a class="nav-link" href="#"><img src="/asset1/facebook.svg" alt="" /></a>
            </li>
            <li>
              <a class="nav-link" href="#"><img src="/asset1/twitter.png" alt="" /></a>
            </li>
            <li>
              <a class="nav-link" href="#"><img src="/asset1/Vector.svg" alt="" /></a>
            </li>
            <li>
              <a class="nav-link" href="#"><img src="/asset1/twitch.svg" alt="" /></a>
            </li>
          </ul>
        </div>
        <hr />
        <div class="container">
          <ul class="copyright">
            <li>© 2018 Your Games, Inc. All Rights Reserved</li>
            <li>Privacy Policy | Terms of Services | Code of Conduct</li>
          </ul>
        </div>
      </div>
      <!-- ===== End of Footer ===== -->
    </section>

    <%- include("../includes/footer.ejs") %>
