.navbar {
  opacity: 0.65;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 4px;
}

.navbar-brand {
  font-size: 25px;
  color: white;
}

.navbar-nav .nav-item .nav-link {
  opacity: 1 !important;
  font-size: 13px;
  color: white;
}

.layout {
  height: 100vh;
  align-items: center;
  background-color: #f9b23d;
}

.layoutsu {
  height: 100vh;
  align-items: center;
}

.form__bg {
  width: 25rem;
  height: fit-content;
  border-radius: 10px;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__bgsu {
  width: 25rem;
  height: fit-content;
  border-radius: 10px;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button,
a {
  width: fit-content;
  margin: 0 auto;
}
